*

!/packages/server/assets/
!/packages/server/scripts/
!/packages/server/src/
!/packages/server/package.json
!/packages/server/yarn.lock
!/packages/server/tsconfig.json
!/packages/server/requirements.txt
